In [101]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')

In [102]:
driver=webdriver.Chrome("chromedriver.exe")# opening chrome driver

In [103]:
 driver.get("https://paytm.com/")#opening website from where we need to fetch data

In [104]:
for i in driver.find_elements_by_xpath('/html/body/div[1]/div/section[4]/div/div/div/div[2]'):
    i.click()

In [105]:
driver.get("https://paytm.com/flights/flightSearch/BLR-Bengaluru/PNQ-Pune/1/0/0/E/2021-11-28")

In [110]:
urls=[]
sou=["BLR-Bengaluru","CCU-Kolkata"]# passing source location
location = ["DEL-Delhi","PNQ-Pune","MAA-Chennai","HYD-Hyderabad"] #passing destination 
# passing random date on which flight is schedule
date_list=["2021-11-28","2021-12-05","2022-01-03","2022-01-04","2021-12-29","2022-01-06","2021-12-21","2021-12-15","2022-01-09","2022-01-07"]
for i in range(0,2):
    for j in range(0,4):
            for k in range(0,10):
                url="https://paytm.com/flights/flightSearch/"+sou[i]+"/"+location[j]+"/1/0/0/E/"+date_list[k] #as url is a string we can manipulate it and make changes according to our needs
                urls.append(url)

In [112]:
len(urls)#checking len of url how many url we have fetched

80

In [113]:
# making list of features i am going to fetch 
name=[]
departure_time=[]
arrival_time=[]
dur=[]
price=[]
stop=[]
place=[]
date=[]
for url in urls:
    driver.get(url)
    time.sleep(5)
    
    for k in driver.find_elements_by_xpath('//div[@class="_3H-S _1Eia"]'):
        name.append(k.text)
            
    for k in driver.find_elements_by_xpath('//div[@class="_3H-S"]'):
        departure_time.append(k.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_3H-S _1wD5"]'):
        arrival_time.append(i.text.split("\n")[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="vY4t"]'):
        dur.append(i.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_1cxG"]'):
        price.append(int(i.text.replace(",","")))
        
    for i in driver.find_elements_by_xpath('//div[@class="_7BOG"]'):
        stop.append(i.text.split()[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="NqXj"]'):
        place.append(i.text)
        
    for i in range(0,len(driver.find_elements_by_xpath('//div[@class="_1cxG"]'))):
               date.append(url.split('/')[11])

In [114]:
source=place[0::2]
destination=place[1::2]

In [115]:
print(len(arrival_time),len(dur),len(price),len(name),len(departure_time),len(source),len(destination),len(date))

10238 10238 10238 10238 10238 10238 10238 10238

In [116]:
# this is the dataframe i have fetched
fligh=pd.DataFrame({"Flight name":name,
                 "Departure_time":departure_time,
                 "Arrival_time":arrival_time,
                 "Price":price,
                 "Source":source,
                 "Destination":destination,
                  "Duration":dur,
                 "No of stop":stop,
                 "Date":date})

In [117]:
fligh

,Flight name,Departure_time,Arrival_time,Price,Source,Destination,Duration,No of stop,Date
0,Go First,05:45,12:10,5985,Bengaluru,Delhi,6h 25m,1,2021-11-28
1,Go First,15:35,23:00,5985,Bengaluru,Delhi,7h 25m,1,2021-11-28
2,Go First,11:00,19:55,5985,Bengaluru,Delhi,8h 55m,1,2021-11-28
3,Go First,22:00,08:10,5985,Bengaluru,Delhi,10h 10m,1,2021-11-28
4,Go First,15:45,02:10,5985,Bengaluru,Delhi,10h 25m,1,2021-11-28
...,...,...,...,...,...,...,...,...,...
10233,Air India,07:45,11:55,10059,Kolkata,Hyderabad,28h 10m,3,2022-01-07
10234,Vistara,10:15,20:55,10204,Kolkata,Hyderabad,10h 40m,2,2022-01-07
10235,Vistara,10:15,20:55,10204,Kolkata,Hyderabad,10h 40m,2,2022-01-07
10236,Vistara,10:25,19:55,10334,Kolkata,Hyderabad,9h 30m,2,2022-01-07
10237,Vistara,15:20,22:55,10826,Kolkata,Hyderabad,7h 35m,1,2022-01-07

In [118]:
fligh.to_csv("flight_fare3.csv")#saving dataframe to csv format